name: ci
on: pull_request
jobs:
  test-grant-user:
    runs-on: ubuntu-latest
    env:
      BATON_LOG_LEVEL: debug
      BATON_INSTANCE_URL: ${{ secrets.INSTANCE_URL }}
      BATON_SALESFORCE_USERNAME: ${{ secrets.SALESFORCE_USERNAME }}
      BATON_SALESFORCE_PASSWORD: ${{ secrets.SALESFORCE_PASSWORD }}
      BATON_SECURITY_TOKEN: ${{ secrets.SECURITY_TOKEN }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Build baton-salesforce
        run: go build ./cmd/baton-salesforce
      - name: Test grant/revoking IAM entitlements
        uses: ConductorOne/github-workflows/actions/sync-test@v2
        with:
          connector: ./baton-salesforce
          baton-entitlement: "group:00G8a000003XHtmEAG:member"
          baton-principal: "0058a00000KGxQ8AAL"
          baton-principal-type: user
  test-grant-permission-set-group:
    runs-on: ubuntu-latest
    env:
      BATON_LOG_LEVEL: debug
      BATON_INSTANCE_URL: ${{ secrets.INSTANCE_URL }}
      BATON_SALESFORCE_USERNAME: ${{ secrets.SALESFORCE_USERNAME }}
      BATON_SALESFORCE_PASSWORD: ${{ secrets.SALESFORCE_PASSWORD }}
      BATON_SECURITY_TOKEN: ${{ secrets.SECURITY_TOKEN }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Build baton-salesforce
        run: go build ./cmd/baton-salesforce
      - name: Test grant/revoking IAM entitlements
        uses: ConductorOne/github-workflows/actions/sync-test@v2
        with:
          connector: ./baton-salesforce
          baton-entitlement: "permission_set_group:0PG8a000000KzpGGAS:assigned"
          baton-principal: "0PS8a000000DOGEGA4"
          baton-principal-type: permission
